body {
  background-color: #131313;
  display: flex;
  height: 100vh;
  overflow-x: hidden;
  padding: 0px 0px 0px 40px;
  z-index: 0;
  background-image: url(../images/background/FiftyShadesFreed.webp);
  background-repeat: no-repeat;
  background-size: 100% 700px;
  border-radius: 10px;
}
body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: white;
  margin: 0;
  padding: 0;
}

.movie-container {
  width: 40%;

  margin: 150px 0px 80px 130px;
  /* background: linear-gradient(
        to right,
        rgba(43, 39, 39, 0.9),
        rgba(114, 101, 101, 0.6)
      ); */
  z-index: 1;
  border-radius: 10px;
}
.movie-container::before {
  content: "";
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  height: 700px;
  background: linear-gradient(to right, rgb(9, 5, 5), rgba(177, 172, 172, 0));
}

.movie-banner img {
  width: 400px;
  z-index: 1;
}

.movie-info {
  z-index: 1;
  font-size: 19px;
  color: #ffffff;
}

.age-rating {
  z-index: 1;
  background: #383737;
  padding: 4px 8px;
  border-radius: 5px;
}

.movie-description {
  margin-top: 10px;
  z-index: 1;
  font-size: 16px;
  line-height: 1.5;
}

.movie-genres span {
  z-index: 1;
  color: #ffffff;
  font-weight: bold;
}

.language-options {
  margin: 15px 0;
  z-index: 1;
}

.language-btn {
  background: #656060;
  border: none;
  padding: 8px 12px;
  margin-right: 5px;
  z-index: 1;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.language-btn.active {
  background: white;
  z-index: 1;
  color: black;
}

.subscribe-btn {
  z-index: 1;
  background: linear-gradient(to right, #6241ff, #ff40a1);
  border: none;
  color: rgb(255, 255, 255);
  padding: 12px;
  width: 70%;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.subscribe-btn:hover {
  opacity: 0.8;
}

.sidebar {
  position: fixed;
  background-color: ;
  height: 100vh;
  z-index: 1;
  padding: 10px;
  text-align: left;
  margin: 0px 0px 0px 5px;
  width: 5%;
}

.sidebar .logo img {
  width: 50px;
  margin-bottom: 50px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}
.Image {
  width: 20px;
}

.sidebar ul li {
  margin: 40px 0px 0px 15px;
}
.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}
.card-flex {
  margin-left: 100px;
  display: flex;
}
.card :hover {
  transform: scale(1.8, 1.4);
  transition-delay: 1ms;
  transition: 1s;
}
.title-left {
  display: flex;
}
.more-like-this {
  color: #aba5a5;
  margin: 30px 0px 40px 100px;
}
.trailers {
  margin: 30px 10px 5px 100px;
}
.card img {
  height: 240px;
  border-radius: 10px;
  width: 173px;
  margin: 10px;
  border-radius: 2%;
}
.card-moana img {
  height: 200px;
  width: 300px;
  border-radius: 10px;
  margin: 10px 0px 10px 100px;
}
.trailers-name {
  font-size: 18px;
  margin: 3px 10px 40px 105px;
}
.footer-info {
  display: flex;
  margin-top: 150px;
  margin-left: 100px;
}
.footer-div1 {
  margin: 100px 305px 5px 0px;
}
.footer-div1 h4 {
  color: rgb(218, 231, 235);
}
.footer-div1 h6 {
  color: rgba(178, 190, 210, 0.5);
}
.footer-div2 {
  display: inline-block;
  margin: 100px 305px 5px 0px;
}
.footer-div2 h4 {
  color: rgb(218, 231, 235);
}

.footer-div2 h6 {
  color: rgba(178, 190, 210, 0.5);
}
.footer-div3 {
  display: inline-block;
  margin: 100px 305px 5px 0px;
}

.footer-div3 h4 {
  color: rgb(218, 231, 235);
}

.footer-div3 h6 {
  color: rgba(178, 190, 210, 0.5);
}
.footer-div4 {
  display: inline-block;
  margin: 100px 0px 5px 0px;
}
.footer-div4 h4 {
  color: rgb(218, 231, 235);
}

.footer-div4 i {
  color: rgba(150, 154, 159, 0.5);
  size: 100px;
  font-size: 30px;
}
.footer-logo1 {
  display: inline-block;
  margin: 5px 15px 5px 5px;
}

.footer-logo2 {
  display: inline-block;
  margin: 5px 5px 5px 5px;
}
.footer-info1 {
  margin-left: 100px;
}
.footer-info1 div {
  display: inline-block;
}
.Policy h6 {
  color: rgba(178, 190, 210, 0.5);
}

.footer-logo3 img {
  width: 120px;
  height: 40px;

  margin: 5px 10px 5px 900px;
}
.footer-logo4 img {
  margin: 5px 10px 5px 0px;

  width: 120px;
  height: 40px;
}
